%h1 
  Courses: 
  = @courses.count


.row{"data-masonry" => "{\"percentPosition\": true }", :style => "position: relative; height: 842px;"}
  - @courses.each do |course|
    = render "courses/course", course: course

%br

= link_to 'New Course', new_course_path
